<div class="flex w-full flex-auto flex-col">
    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex w-full items-center justify-between">
            <div>
                <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                    @if(matriculaParte1){ Aeronave: {{matriculaParte1}}-{{matriculaParte2}} } 123
                </h2>
            </div>
            <div class="ml-6 flex items-center">
                <button class="hidden sm:inline-flex" mat-stroked-button (click)="voltar()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-left'"></mat-icon>
                    <span class="ml-2">Voltar</span>
                </button>
                 <button class="ml-3 hidden sm:inline-flex" mat-stroked-button (click)="edit()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                    <span class="ml-2">Editar</span>
                </button>
                <button class="ml-3 hidden sm:inline-flex" mat-stroked-button>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:funnel'"></mat-icon>
                    <span class="ml-2">Abastecimentos</span>
                </button>
                <button class="ml-3 hidden sm:inline-flex" mat-stroked-button>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:banknotes'"></mat-icon>
                    <span class="ml-2">Tarifas</span>
                </button>
               <button class="ml-3 hidden sm:inline-flex" mat-stroked-button>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:wrench'"></mat-icon>
                    <span class="ml-2">Manutenções</span>
                </button>
                <button class="ml-3 hidden sm:inline-flex" mat-flat-button [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-up-tray'"></mat-icon>
                    <span class="ml-2">Exportar em PDF</span>
                </button>
                
                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_mini:ellipsis-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Exportar para PDF</button>
                        <button mat-menu-item (click)="voltar()">Voltar</button>
                    </mat-menu>
                </div>
            </div>
        </div>
        
        <div class="mt-8 grid w-full grid-cols-1 gap-8 xl:grid-cols-2">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                <!-- Dados da aeronave -->
                <div class="bg-card relative flex flex-auto flex-col overflow-hidden rounded-2xl p-6 pb-3 pr-3 shadow">
                    <div class="absolute bottom-0 right-0 -m-6 h-24 w-24">
                        @if(aeronave.situacao){
                            <mat-icon class="text-green-500 opacity-25 icon-size-24 dark:text-green-400" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        }@else{
                            <mat-icon class="text-red-500 opacity-25 icon-size-24 dark:text-red-400" [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                        }
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="truncate text-lg font-medium leading-6 tracking-tight">
                                Dados da aeronave
                            </div>
                            <div class="text-sm font-medium text-green-600">
                                informações abaixo
                            </div>
                        </div>
                    </div>
                    <div class="-mx-6 mt-4 flex flex-row flex-wrap">
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Fabricante
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                {{ aeronave.fabricante }}
                            </div>
                        </div>
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Modelo
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                {{ aeronave.modelo }}
                            </div>
                        </div>
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Ano
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                {{ aeronave.ano }}
                            </div>
                        </div>                        
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                S/N
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if (aeronave.numeroSerie != null && aeronave.numeroSerie != ''){
                                    {{ aeronave.numeroSerie }}
                                } @else {--}
                            </div>
                        </div>                        
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Situação
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if (aeronave.situacao){
                                    Operacional
                                } @else {Não operacional}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Documentos e validades -->
                <div class="bg-card relative flex flex-auto flex-col overflow-hidden rounded-2xl p-6 pb-3 pr-3 shadow">
                    <div class="absolute bottom-0 right-0 -m-6 h-24 w-24">
                        <mat-icon class="text-blue-500 opacity-25 icon-size-24 dark:text-blue-400" [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="truncate text-lg font-medium leading-6 tracking-tight">
                                Documentos e validades
                            </div>
                            <div class="text-sm font-medium text-green-600">
                                segue informações
                            </div>
                        </div>
                    </div>
                    <div class="-mx-6 mt-4 flex flex-row flex-wrap">
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Validade CVA
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if(aeronave.validadeCVA != null){
                                    {{ aeronave.validadeCVA | date:'dd/MM/yyyy'}}
                                }@else{--}
                            </div>
                        </div>
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Validade Licença de Estação
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if(aeronave.validadeLicencaEstacao != null){
                                    {{ aeronave.validadeLicencaEstacao | date:'dd/MM/yyyy'}}
                                }@else{--}
                            </div>
                        </div>
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Validade Reta
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if(aeronave.validadeReta != null){
                                    {{ aeronave.validadeReta | date:'dd/MM/yyyy'}}
                                }@else{--}
                            </div>
                        </div>
                    </div>                    
                    <div class="-mx-6 mt-4 flex flex-row flex-wrap">
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Validade Casco
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if(aeronave.validadeCasco != null){
                                    {{ aeronave.validadeCasco | date:'dd/MM/yyyy'}}
                                }@else{--}
                            </div>
                        </div>
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Validade R/C
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if(aeronave.validadeResponsabilidadeCivil != null){
                                    {{ aeronave.validadeResponsabilidadeCivil | date:'dd/MM/yyyy'}}
                                }@else{--}
                            </div>
                        </div>
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Validade Pesagem
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if(aeronave.validadePesagem != null){
                                    {{ aeronave.validadePesagem | date:'dd/MM/yyyy'}}
                                }@else{--}
                            </div>
                        </div>
                    </div>
                    <div class="-mx-6 mt-4 flex flex-row flex-wrap">
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Emissão CA
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if(aeronave.emissaoCA != null){
                                    {{ aeronave.emissaoCA | date:'dd/MM/yyyy'}}
                                }@else{--}
                            </div>
                        </div>
                        <div class="mx-6 my-3 flex flex-col">
                            <div class="text-secondary text-sm font-medium leading-none">
                                Emissão CM
                            </div>
                            <div class="mt-2 text-3xl font-medium leading-none">
                                @if(aeronave.emissaoCM != null){
                                    {{ aeronave.emissaoCM | date:'dd/MM/yyyy'}}
                                }@else{--}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Foto -->
            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow">
                <div class="flex flex-col p-6 pb-4">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="mr-4 truncate text-lg font-medium leading-6 tracking-tight">
                                Foto da aeronave
                            </div>
                        </div>
                    </div>
                    @if(aeronave.imagem != null && aeronave.imagem != ''){
                        <div class="mr-2 mt-6 flex items-start">
                            <img src="{{ imagens }}{{ aeronave.imagem }}">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>