    <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">
    
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
    
            <!-- Loader -->
            @if(isLoading){
                <div class="absolute inset-x-0 bottom-0">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
            }
    
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">Colaboradores</div>
    
            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Filter button -->
                <button mat-icon-button aria-label="Show/hide filters" (click)="onFilterExpanded()">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <!-- Add product button -->
                <button class="ml-4" mat-flat-button [color]="'primary'" [routerLink]="['/colaboradores/novo']">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Novo</span>
                </button>
            </div>
        </div>
    
        <!-- Filters -->
        <div>
            <mat-expansion-panel hideToggle [expanded]="filtersExpanded">
                <!-- <p>Filtros</p> -->
    
                <form [formGroup]="filterForm" class="flex flex-row items-center gap-3 mt-6 overflow-hidden">
    
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label>Cargo</mat-label>
                        <input matInput formControlName="cargo">
                    </mat-form-field>
    
                    <button mat-raised-button (click)="clearFilter()">
                        <span class="ml-2 mr-1">Limpar</span>
                    </button>
    
                    <button mat-raised-button [color]="'primary'" (click)="filter()">
                        <span class="ml-2 mr-1">Buscar</span>
                    </button>
    
                </form>
    
    
            </mat-expansion-panel>
        </div>
    
        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
    
            <!-- Products list -->
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">
    
                @if(colaboradores.length > 0){
                    <ng-container>
        
                        <!-- Table wrapper -->
                        <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>
        
                            <!-- Table -->
                            <table class="w-full min-w-320 table-fixed bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}" mat-table matSort
                                (matSortChange)="onSort($event)" [matSortActive]="'nome'" [matSortDisableClear]="true"
                                [matSortDirection]="'asc'" [multiTemplateDataRows]="false" [dataSource]="colaboradores"
                                [trackBy]="trackByFn">
        
                                <!-- nome -->
                                <ng-container matColumnDef="nome">
                                    <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                        mat-sort-header disableClear>
                                        Nome
                                    </th>
                                    <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                        {{row.nome}}
                                    </td>
                                </ng-container>
        
                                <!-- CPF -->
                                <ng-container matColumnDef="cpf">
                                    <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                        mat-sort-header disableClear>
                                        CPF
                                    </th>
                                    <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                        {{row.cpf}}
                                    </td>
                                </ng-container>
        
                                <!-- cargo -->
                                <ng-container matColumnDef="cargo">
                                    <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                        mat-sort-header disableClear>
                                        Cargo
                                    </th>
                                    <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                        {{row.cargo}}
                                    </td>
                                </ng-container>
        
                                <!-- telefone -->
                                <ng-container matColumnDef="telefone">
                                    <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                        mat-sort-header disableClear>
                                        Telefone
                                    </th>
                                    <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                        {{row.telefone}}
                                    </td>
                                </ng-container>

                                <!-- admissão -->
                                <ng-container matColumnDef="admissao">
                                    <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                        mat-sort-header disableClear>
                                        Admissão
                                    </th>
                                    <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                        {{row.admissao | date: 'dd/MM/yyyy'}}
                                    </td>
                                </ng-container>

                                <!-- demissão -->
                                <ng-container matColumnDef="demissao">
                                    <th class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                        mat-sort-header disableClear>
                                        Demissão
                                    </th>
                                    <td class="pr-8 truncate" mat-cell *matCellDef="let row">
                                        {{row.demissao | date: 'dd/MM/yyyy'}}
                                    </td>
                                </ng-container>
        
                                <!-- actions -->
                                <ng-container matColumnDef="actions">
                                    <th style="text-align: center;" class="bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                        *matHeaderCellDef>
                                        Ações
                                    </th>
                                    <td class="pr-8" mat-cell *matCellDef="let row" style="padding-left: 32;padding-right: 16;padding-left: 32px;">
                                        <div style="text-align: center;">
                                            <!-- <button mat-icon-button (click)="details(row.id)">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                            </button>

                                            <button mat-icon-button (click)="edit(row.id)">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                            </button>
        
                                            <button mat-icon-button (click)="deletar(row.id)">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            </button> -->

                                            <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:ellipsis-vertical'"></mat-icon>
                                            </button>
                                            <mat-menu #summaryMenu="matMenu">
                                                <button mat-menu-item (click)="details(row.id)">
                                                    Visualizar
                                                </button>
                                                <button mat-menu-item (click)="edit(row.id)">
                                                    Editar
                                                </button>
                                                <button mat-menu-item (click)="deletar(row.id)">
                                                    Remover
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </td>
                                </ng-container>
        
                                <tr class="shadow" mat-header-row *matHeaderRowDef="productsTableColumns; sticky: true"></tr>
                                <tr class="h-18 hover:bg-hover" mat-row *matRowDef="let row; columns: productsTableColumns;">
                                </tr>
        
                            </table>
        
                        </div>
        
                        <mat-paginator
                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length"
                            [pageIndex]="pagination.page" [pageSize]="pagination.size" [pageSizeOptions]="[1, 5, 10, 25, 100]"
                            [showFirstLastButtons]="true" (page)="onPage($event)"></mat-paginator>
        
                    </ng-container>
                }
    
                @if(colaboradores.length == 0){
                    <ng-container>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Não há colaboradores!
                        </div>
                    </ng-container>
                }
    
            </div>
    
        </div>
    
    </div>