<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            Novo Vendedor
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-4" mat-flat-button [color]="'primary'" [routerLink]="['/vendedores']">
                <span class="ml-2 mr-1">Cancelar</span>
            </button>
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="save()">
                <span class="ml-2 mr-1">Salvar</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <form [formGroup]="mainForm" class="flex flex-col overflow-y-scroll overflow-x-hidden p-8">
        <div class="flex flex-row">
            <mat-form-field class="flex-1">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
                <mat-error *ngIf="this.mainForm.get('nome').invalid">Campo obrigatório</mat-error>
            </mat-form-field>
    
            <mat-form-field class="flex-1 ml-2">
                <mat-label>Situação</mat-label>
                <select matNativeControl required formControlName="ativo">
                    <option value=true> Ativo</option>
                    <option value=false> Inativo</option>
                </select>
                <mat-error *ngIf="this.mainForm.get('ativo').invalid">Campo obrigatório</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>