<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            Novo Abastecimento
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="voltar()">
                <span class="ml-2 mr-1">Cancelar</span>
            </button>
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="save()">
                <span class="ml-2 mr-1">Salvar</span>
            </button>
        </div>
    </div>

    <!-- Main -->

    <form [formGroup]="mainForm" class="flex flex-col overflow-y-scroll overflow-x-hidden p-8">
        <div class="flex flex-row">
            <mat-form-field class="flex-1">
                <mat-label>Data</mat-label>
                <input matInput formControlName="data" type="date">
                <mat-error *ngIf="this.mainForm.get('data').invalid">Campo obrigatório</mat-error>
            </mat-form-field>
    
            <mat-form-field class="flex-1 ml-2">
                <mat-label>Volume</mat-label>
                <input matInput formControlName="litros" type="number">
                <mat-error *ngIf="this.mainForm.get('litros').invalid">Campo obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-1 ml-2">
                <mat-label>Fornecedora</mat-label>
                <select matNativeControl required formControlName="fornecedora">
                    <option *ngFor="let fornecedor of fornecedoras" value="{{fornecedor.nome}}">{{ fornecedor.nome }}</option>
                </select>
                <mat-error *ngIf="this.mainForm.get('fornecedora').invalid">Campo obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-1 ml-2">
                <mat-label>Status</mat-label>
                <select matNativeControl required formControlName="status">
                    <option value="Pago"> Pago</option>
                    <option value="Pendente"> Pendente</option>
                </select>
                <mat-error *ngIf="this.mainForm.get('status').invalid">Campo obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <mat-form-field class="flex-1">
                <mat-label>Valor Unitário</mat-label>
                <input matInput formControlName="valorUnitario" type="number">
                <mat-error *ngIf="this.mainForm.get('valorUnitario').invalid">Campo obrigatório</mat-error>
            </mat-form-field>
    
            <mat-form-field class="flex-1 ml-2">
                <mat-label>Valor Total</mat-label>
                <input matInput formControlName="valorTotal" type="number">
                <mat-error *ngIf="this.mainForm.get('valorTotal').invalid">Campo obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-1 ml-2">
                <mat-label>Data Pagamento</mat-label>
                <input matInput formControlName="dataPagamento" type="date">
            </mat-form-field>

            <mat-form-field class="flex-1 ml-2">
                <mat-label>Vencimento</mat-label>
                <input matInput formControlName="vencimento" type="date">
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <mat-form-field class="flex-1">
                <mat-label>Nota</mat-label>
                <input matInput formControlName="nota">
            </mat-form-field>
    
            <mat-form-field class="flex-1 ml-2">
                <mat-label>Código de barras</mat-label>
                <input matInput formControlName="codigoBarras">
            </mat-form-field>
        </div>

    </form>

</div>